.button {
  appearance: none;
  background-color: #fff;
  border: 2px solid #999999;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  min-width: 40%;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.4s, border-color 0.4s;
}

.button:not(.button--disabled):hover,
.button:not(.button--disabled):focus {
  background-color: var(--button--hover);
}

.button--primary {
  background-color: var(--button--primary-background-color);
  border-color: var(--button--primary-border-color);
  color: var(--button--primary-text-color);
}

.button--disabled {
  background-color: var(--button--disabled-background-color);
  border-color: var(--button--disabled-border-color);
  color: var(--button--disabled-text-color);
  cursor: auto;
}

.button--danger {
  background-color: var(--button--danger-background-color);
  border-color: var(--button--danger-border-color);
  color: var(--button--danger-text-color);
}

.button--primary:not(.button--disabled):hover,
.button--primary:not(.button--disabled):focus {
  background-color: var(--button--primary--hover);
  border-color: var(--button--primary--hover);
}

.button--danger:not(.button--disabled):hover,
.button--danger:not(.button--disabled):focus {
  background-color: var(--button--danger--hover);
  border-color: var(--button--danger--hover);
}
