:root {
  --button--danger-background-color: #BB1F1F;
  --button--danger-border-color: #CB1F1F;
  --button--danger-text-color: #ffffff;
  --button--danger--hover: #E02525;
  --button--hover: #dddddd;
  --button--disabled-background-color: #eeeeee;
  --button--disabled-border-color: #dddddd;
  --button--disabled-text-color: #000000;
  --button--primary-background-color: #2081C3;
  --button--primary-border-color: #348CC8;
  --button--primary-text-color: #ffffff;
  --button--primary-background-color: #2081C3;
  --button--primary-border-color: #348CC8;
  --button--primary-text-color: #ffffff;
  --button--primary--hover: #349CC8;
}

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Merriweather', sans-serif;
}

.app {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 768px;
  text-align: center;
}

.root {
  justify-content: center;
  display: flex;
  flex: 1;
}

.button {
  appearance: none;
  background-color: #fff;
  border: 2px solid #999999;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  min-width: 40%;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.4s, border-color 0.4s;
}

.button:not(.button--disabled):hover,
.button:not(.button--disabled):focus {
  background-color: var(--button--hover);
}

.button--primary {
  background-color: var(--button--primary-background-color);
  border-color: var(--button--primary-border-color);
  color: var(--button--primary-text-color);
}

.button--disabled {
  background-color: var(--button--disabled-background-color);
  border-color: var(--button--disabled-border-color);
  color: var(--button--disabled-text-color);
  cursor: auto;
}

.button--danger {
  background-color: var(--button--danger-background-color);
  border-color: var(--button--danger-border-color);
  color: var(--button--danger-text-color);
}

.button--primary:not(.button--disabled):hover,
.button--primary:not(.button--disabled):focus {
  background-color: var(--button--primary--hover);
  border-color: var(--button--primary--hover);
}

.button--danger:not(.button--disabled):hover,
.button--danger:not(.button--disabled):focus {
  background-color: var(--button--danger--hover);
  border-color: var(--button--danger--hover);
}

.cartlist {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  max-width: 768px;
  width: 100%;
}

.cartlist__item {
  align-items: center;
  background-color: #eeeeee;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 1rem;
}

.modal {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.modal__backdrop {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.modal__backdrop__body {
  background-color: #fff;
  border-radius: 5px;
  flex: 1;
  min-height: 12rem;
  max-width: 600px;
  padding: 0 1rem 0.5rem;
}

.modal__backdrop__body__input {
  appearance: none;
  border: 2px solid #dddddd;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8rem 0.5rem;
  width: 100%;
}

.modal__backdrop__body__buttons {
  justify-content: space-between;
  display: flex;
  padding: 1rem 0;
}
